html,
body {
  background-color: #000000;
}

.game-over {
  display: none;
  position: absolute;
  width: fit-content;
  transform: translate(calc(50vw / 2), -50vh);
  font-size: 6rem;
  color: #ffffff;
  -webkit-text-stroke: 3px #000000;
}
